
body{font-size:1em;font-family:arial,helvetica,sans-serif;color:black;background:white;word-wrap:break-word;text-align:center;}

a{text-decoration:none;}
a:link{color:#0000EE;}
a:visited{color:#0000EE;}
a:hover,a:focus{color:#0000EE;}
a:active{color:#0000EE;}

table.topnav{text-align:left;width:100%;margin-left:auto;margin-right:auto;font-size:115%;}
table.topnav td{vertical-align:top;width:17%;text-align:center;}
td.topnavselitem{font-weight:bold;}

.titlehdr{font-weight:bold;font-size:125%;text-align:center;}

.list_odd{background:#EEEEEE;}
.list_even{background:#FFFFFF;}
.listcell{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding-left:0.1em;padding-right:0.1em;}

table.eventlogview{width:98%;margin-left:1%;margin-right:1%;text-align:left;border:2px solid;}
table.eventlogview td{padding:0px 2pt;}

table.settingsbox{width:94%;margin-left:3%;margin-right:3%;text-align:left;border:2px solid;}
table.settingsbox td{padding:6pt 6pt;}

table.listtable{width:98%;margin-left:1%;margin-right:1%;text-align:left;border:2px solid;margin-bottom:8pt;}
table.listtable thead{background-color:#c9ddd2;}
table.listtable th{padding:0px 2pt;border-width:0px;font-weight:bold;}
table.listtable td{padding:0px 2pt;border-width:0px;}
table.listtable a{color:inherit;}

table.listctrls{width:98%;margin-left:1%;margin-right:1%;border:2px solid;margin-bottom:8pt;}
table.listctrls td{padding:4pt 6pt;}

table.bwctrls{width:98%;margin-left:1%;margin-right:1%;margin-bottom:8pt;border:2px solid;}
table.bwctrls td{padding:4pt 7pt;}
.bwviewchart{width:98%;margin-left:1%;margin-right:1%;margin-bottom:4pt;}

/*transfers*/

table.xfernav{text-align: left; width: 100%; margin-left: auto; margin-right: auto;}
table.xfernav td{vertical-align: top; width: 12%; text-align: center;}
td.xfernavselitem{vertical-align: top; width: 12%; text-align: center;font-weight:bold;}

table.xfercatctrls a{color:inherit;}
.xfercatctrl{display:inline;white-space:nowrap;}

.offline{color:#9E2E27;}
.queued{color:#0000FF;}
.downloading{color:#0C6000;}
.seeding{color:#259985;}
.standby{color:#0000FF;}
.complete{color:#87215B;}

.xferslist .created .privateflag:after{content:" ";padding-right:0.3em;}
.xferslist .partial .privateflag:after{content:" ";padding-right:0.3em;}
.xferslist .private .privateflag:after{content:"🔒";color:#BB9900;padding-right:0.3em;}
.xferslist .partial .partialflag:after{content:"▥";color:#3333EE;}
.xferslist .created .createdflag:after{content:"🟏";color:#BBAA00;}

.xferslist .private .partialflag:before{content:" ";margin-left:0.5em;}
.xferslist .partial .partialflag:before{content:" ";margin-left:0.5em;}
.xferslist .created .partialflag:before{content:" ";margin-left:0.5em;}

.titlehdr.private .privateflag:after{content:"🔒";color:#BB9900;}
.titlehdr.partial .partialflag:after{content:"▥";color:#3333EE;}
.titlehdr.created .createdflag:after{content:"🟏";color:#BBAA00;}
.titlehdr.private .partialflag:before{content:" ";margin-left:0.3em;}
.titlehdr.partial .partialflag:before{content:" ";margin-left:0.3em;}
.titlehdr.created .partialflag:before{content:" ";margin-left:0.3em;}

.created .deleteoption{display:none;}

/*categories*/

.allxfers{color:#000000;}
.uncategorized{color:#000000;}
.category{color:#000000;}
.separator{color:#000000;}

.catlist .separator{font-weight:bold;height:1.8em;}
.xfercatctrls .separator{font-weight:bold;}

